/* Modules */
/* Button Modules */
.btn{
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
    padding: 12px 30px;
    font-size: 1.313em;
    font-weight: bold;
    border-radius: 4px;
    transition: all 0.3s ease 0s;
}
.btn-primary{
    background: #8DC63F;
    border-color: #8DC63F;
    color: white;
}
@media (min-width:48em) {
    .btn-primary{
        padding: 10px 15px;
        font-weight: normal;
        font-size: 1.125em;
    }
}
.btn-nav {
    color: white;
}
.btn-primary:hover{
    background: none;
    border-color: white;
    text-decoration: none;
}
.btn-toggle-menu {
    position: absolute;
    top: 15px;
    right: 15px;
}
@media (min-width: 48em) {
    .btn-toggle-menu {
        display: none;
    }
}
.btn-hero{
    background-color: #ffffff;
    border-color: #ffffff;
    color: #39B54A;
}
.btn-hero:hover{
    background: none;
    border-color: white;
    text-decoration: none;

}
@media (min-width: 48em) {
    .btn-hero {
        font-size: 1.750em;
    }
}
/* Header Modules */
.header-primary{
    background: #9B8579;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}
/* Logo Modules */
.logo{
    overflow: hidden;
    display: inline-block;
}
.logo-primary{
    width: 64px;
    height: 64px;
}
.logo-primary img{
    height: 100%;
}
/* Naviagtion Modules */
.nav > ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.nav-primary {
    margin-top: 28px;
    display: none;
}
@media (min-width: 48em) {
    .nav-primary {
        display: block;
    }
}
/* Hero Modules */
.hero {
    text-align: center;
}
.hero-primary {
    background-color: #594a42;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}
.hero-primary .bg-image > img {
    opacity: 0.55;
}
.hero-body {
    position: relative;
}
.hero.title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 2.625em;
}
.hero-subtitle {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 1.500em;
    font-weight: normal;
}
.hero-subtitle + button {
    margin-top: 25px;
}
/* Background Modules */
.bg-image {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.bg-image > img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    min-width: 100%;
}
.background-quinary {
    background: #e7e1d7;
}
/* Layout Styles */
.col-1-2 {
    width: 50%;
}
/* Media Object Module */
.media, .media-body{
    overflow: hidden;
}
.media-item {
    float: left;
    margin-right: 10px;
}
.media-item i {
    color: #594a42;
    font-size: 5em;

}